$colors: (
  primary: #ffd500,
  primary-dark: rgb(255, 174, 0),
  page-background: #f4f6f8,
  secondary: #32db64,
  yellow: #ecd75d,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
  black: #000000,
  gray: #f1f1f1,
  placeholder: #e0e0e1,
  ut-color: rgb(244, 203, 0),
);

$path: (
  keyboard-arrow-up: path("M 0 0 l 20 50 l 20 -50 Z"),
);
