$colors: (
  page-background: #f4f6f8,
  tn-color: #2e3092,
  font-color: #3c3b3b,
  form-border: rgb(60, 59, 59, 0.25),
  home-color: #4da1ff,
  shadow-color: #e0e8f0,
  placeholder: #999999,
  danger: #ED1E24,
);
