@media (min-width: 601px) {
  .app-container {
    display: block;
  }

  .app-container-down {
    display: flex;
  }
}

@media (max-width: 601px) {
  .app-container {
    display: block;
  }

  .app-container-right {
    display: block;
    width: 100%;
  }
}
