@import url(../../theme/fonts.scss);
@import "../../theme/_functions.scss";

@media (min-width: 1024px) {
  .nav-bar {
    position: sticky;
    top: 0;
    background-color: white;
    height: vw(88);
    display: flex;
    align-items: center;
    width: 100%;
    .nav-bar-left{
      margin-left: vw(27);
      display: flex;
      .logo-tn{
        width: vw(221.23);
        height: vw(29.38);
      }
      .kotak-empat{
        margin-left: vw(36.1);
        width: vw(23.67);
        height: vw(23.67);;
      }
    }
    .nav-bar-right {
      display: flex;
      width: 100%;
      justify-content: right;
      align-items: center;
      margin-right: vw(32.2);
      .profile {
        height: vw(50.12);
        width: vw(50.53);
      }
    }
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .nav-bar {
    position: sticky;
    top: 0;
    background-color: white;
    height: vw-tab(78);
    display: flex;
    align-items: center;
    width: 100%;
    .nav-bar-left{
      margin-left: vw-tab(25);
      display: flex;
      .logo-tn{
        width: vw-tab(200);
        height: vw-tab(27);
      }
      .kotak-empat{
        margin-left: vw-tab(27);
        width: vw-tab(21.8);
        height: vw-tab(21.8);
      }
    }
    .nav-bar-right {
      display: flex;
      width: 100%;
      justify-content: right;
      align-items: center;
      margin-right: vw-tab(32.2);
      .profile {
        height: vw-tab(46);
        width: vw-tab(46);
      }
    }
  }
}

@media (max-width: 601px) {
  .nav-bar {
    position: sticky;
    top: 0;
    background-color: white;
    height: vw-mobile(75);
    display: flex;
    align-items: center;
    width: 100%;
    .nav-bar-left{
      margin-left: vw-mobile(25);
      display: flex;
      .logo-tn{
        width: vw-mobile(200);
        height: vw-mobile(27);
      }
      .kotak-empat{
        margin-left: vw-mobile(27);
        width: vw-mobile(21.8);
        height: vw-mobile(21.8);
      }
    }
    .nav-bar-right {
      display: flex;
      width: 100%;
      justify-content: right;
      align-items: center;
      margin-right: vw-mobile(32.2);
      .profile {
        height: vw-mobile(46);
        width: vw-mobile(46);
      }
    }
  }
}
